@import url(https://fonts.googleapis.com/css?family=Poppins);

.nav{
    margin-top:-10px;
    position: fixed;
    z-index: 1000;
    background: #35012e;
    height: 65px;
    width:98.75%;
    text-align: center;
    
    
}
.nav ul{
    margin: 23px;
    
}
.centerText2 a{
    text-decoration: none;
    color:aliceblue;
}
.nav a{
    
    letter-spacing: 0.09cm;
    text-decoration: none;
    color: whitesmoke;
    font-family:poppins;
    font-size: 17px;
}
#logo_image{
width: 293px;
height: 76px;


}

.bg_image{
width:100%;

}
a:hover{
color: rgb(255, 115, 15);
}
.nav a.active {
    color: #ff9900; 
}

.centerText{
opacity: 0;
animation: fadeIn 2s ease-in-out forwards;
border-radius: 6px;
position: absolute;
top:20%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 45px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0.02em;
left: 14%;
padding-left: 6%;
color: antiquewhite;


}
@keyframes homeimg {
    from{filter:contrast(2.5);}
    to {filter:contrast(1.2);}
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.centerimg{
    position: absolute;
    top:20%; 
    left: 4%;
    animation: fade-in-5s;
    transition: width 2s;
    

}
.centerText2{
position: absolute;
top:44%;
font-family:Arial, Helvetica, sans-serif;
padding-left: 6%;
font-size: 25px;
color: rgb(142, 245, 210);
}
.centerText3{
border-radius: 6px;
position: absolute;
top:45%;
/* left:35%; */
font-family:poppins;
font-style: oblique;
font-size: 35px;
font-weight: 600;
line-height: 55px;
letter-spacing: 0.02em;
text-align: right;
padding-left: 65%;
color: rgba(250, 235, 215, 0.699);
animation: backwards;
}
.bg{
position: relative;
}
.regForm{
animation: fadeIn 1s ease-in-out forwards;
width: 100%;
margin-top:-4px;
background-color: white;
border-radius: 12px;
position: relative;
box-shadow: 0px 31px 74px 0px #0000000D;

    

}
.contactf{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 40%;
    background-color: #bb32bb3d;
    position: absolute;
    top: 10%;
    border-radius: 4px;
    margin-left: 350px;

}
form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
    color: #fff;
    font-size: 20px;

    
}
.regForm p{
    color: #fff;
    font-size: 25px;
    
}
input, textarea {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}
.goal{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
    
}
.cvv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
}
.goalDiv{
    animation: fadeIn 1s ease-in-out forwards;
    background-color: #ddcfcf85;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    position: absolute;

}
.goalDiv a{
    text-decoration: none;
}
.mycv{
    background-color: #ddcfcf85;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    position: absolute;  
}
.profile-image {
    width: 200px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
    filter: saturate(1.2);
}
.profile-image1 {
    filter:contrast(1.2);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    animation-name: homeimg;
    animation-duration: 3s;
}
.profile-image1:hover{
    width: 215px;
    height: 215px;
    opacity: 85%;
}
.goalDiv h1{
    color: #333;
    margin-bottom: 10px;
}
.myGoal{
    animation: fadeIn 1s ease-in-out forwards;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #f4f4f473;
    position: absolute;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 8%;
    margin-right: 8%;
}
.realGoal{
    display: flex;
    background-color: #fff;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    
}
.pj{
    display: flex;
    background-color: #fff;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
.pj body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.goals {
    margin-top: 20px;
}

.h1goal {
    color: #3b1010;
    position: absolute;
    top: 20%;
    
}

.realGoal h2 {
    color: rgba(50, 20, 56, 0.522);
    padding-left: 15px;
    text-align:left;
}

.realGoal p {
    color: #1a0202;
    text-align:left;
    letter-spacing: 0.09em;
    padding-right: 30px;
    padding-left: 10px;
    
}
.projects{
    animation: fadeIn 1s ease-in-out forwards;
    background-color: #efeffe9a;
    position: absolute;
    padding: 20px;
    margin-top: 9%;
    margin-left: 8%;
    margin-right: 9%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.project {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.project-number {
    background-color: #007BFF;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.projects h1 {
    color: #333;
}

.projects h2 {
    color: #0c4c91;
}

.projects p {
    color: #200404;
}

